<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./style.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <ul>
       <% users.forEach((user)=>{ %>
            <li class = "user">
                <h3><%= user.name%></h3>
                <p><%= user.email%></p>
            </li>
       <%}) %>
    </ul>
    <br />
    <button><a href="/form">Add</a></button>
</body>
</html>