<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/users/add">
        <label for="name"> Name</label>
        <input name="name" value = "" placeholder="Your name.."/> <br>
        <label for="fname">Email</label>
        <input style=" margin-top: 10px;"name="email" value="" placeholder="Email.."/>
         <br>
        <input  style="  margin-left: 40px; margin-top: 10px;" type="submit" value="submit"/>
    </form>
</body>
</html>